@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Ubuntu:wght@500&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    background-color: black;
}
header h1{
    font-size: 30px;
    justify-content: left;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
header nav{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
header nav .logo{
    width: 150px;
}
header nav .menu{
    display: flex;
    align-items: center;
}
nav .menu a{
    color: #fff;
    margin-left: 30px;
    position: relative;
}
nav .menu a::after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #4e1296;
    transition: 0.4s;
}
nav .menu a:hover::after{
    width: 100%;
}
nav .redessociais a i{
    color: #fff;
    font-size: 22px;
    margin-left: 10px;
    transition: 0.3s;
}
nav .redessociais a i:hover{
    transform: scale(1.3);
    color: #4e1296;
    offset-distance: 3px;
}

h1{
    color: white;
    font-family:'Ubuntu', sans-serif; ;
}
h5 {
    color: #4e1296;
}

